<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genres</title>
    <link rel="stylesheet" href="/gener.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <nav class="navbar">
        <div class="logo">BookVerse</div>

        <ul class="nav-links">
            <li class="litext"><a class="navtexts" href="/homepage">Home</a></li>
            <li class="litext"><a class="navtexts" href="/bookspage">Books</a></li>
            <li class="litext"><a class="navtexts" href="/gener">Genres</a></li>
            <li class="litext"><a class="navtexts" href="/authors">Authors</a></li>
            <li class="litext"><a class="navtexts btn" href="/myprofile">Profile</a></li>
        </ul>
    </nav>
    <div class="middlebody">

        <div class="generdivs anime">
            <h1 class="genertext animetext">Anime</h1>
        </div>

        <div class="generdivs action">
            <h1 class="genertext animetext">Action</h1>
        </div>

        <div class="generdivs fantacy">
            <h1 class="genertext animetext">Fantacy</h1>
        </div>

        <div class="generdivs romantic">
            <h1 class="genertext romantictext">Romance</h1>
        </div>

        <div class="generdivs darkromance">
            <h1 class="genertext romantictext">Dark Romance</h1>
        </div>

        <div class="generdivs scifi">
            <h1 class="genertext romantictext">Scince Fiction</h1>
        </div>
        
        <div class="generdivs thriller">
            <h1 class="genertext romantictext">Suspence thriller</h1>
        </div>
        
        <div class="generdivs horror">
            <h1 class="genertext romantictext">Horror</h1>
        </div>
        
        <div class="generdivs biography">
            <h1 class="genertext romantictext">Biography</h1>
        </div>

    </div>
</body>

</html>