<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyProfile</title>
    <link rel="stylesheet" href="/myprofile.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">BookVerse</div>

        <ul class="nav-links">
            <li class="litext" ><a class="navtexts" href="/homepage">Home</a></li>
            <li class="litext" ><a class="navtexts" href="#">Books</a></li>
            <li class="litext" ><a class="navtexts" href="/gener">Genres</a></li>
            <li class="litext" ><a class="navtexts" href="#">Authors</a></li>
            <li class="litext" ><a class="navtexts btn" href="/myprofile">Profile</a></li>
        </ul>
    </nav>

    <div class="middlebody">
        <div class="left">
            <div class="upper">
                <div class="profilepic">
                    <img src="" alt="profilepic" class="profileimage">
                </div>
                <div class="biobox">
                    <div class="name">
                        <h3>Bhagesh</h3>
                    </div>
                    <div class="bio">
                        <p>Hay i am a developer and my name is Bhagesh i am currently learning the fullstack and the gen AI , and this BookVerse is my collage project and i am enjoying this building process now i am learning new things and discovering the new technologys and developing the new skills , for more details please visit my git hub profile and love you 3000 💪💖💝. </p>
                    </div>
                </div>
            </div>
            <div class="lower">
                <div class="lowerheading">
                    <h3>Upload your book</h3>
                </div>
                <form action="" class="bookuploadform">
                    <div class="booktitle">
                        <label for="booktitleinput" class="titlelabel inputlabels">Title</label>
                        <input class="inputfields" type="text" name="booktitleinput" placeholder="Enter the title of the book">
                    </div>
                    <div class="author">
                        <label for="authorname" class="authorlabel inputlabels">Author</label>
                        <input class="inputfields" type="text" name="authorname" placeholder="Enter the Author">
                    </div>
                    <div class="gener inputlabels">
                        <label for="generinput">Gener</label>
                        <select class="genersection" name="generinput" class="inputfields">
                            <option value="romantic">Romantic</option>
                            <option value="anime">Anime</option>
                            <option value="Horro">Horror</option>
                            <option value="biography">Biography</option>
                            <option value="fantacy">Fantacy</option>
                    </select>
                    </div>
                    <div class="file inputfields" >
                        <input type="file" >
                    </div>
                    <button class="uploadbtn">Upload</button>
                </form>
            </div>
        </div>
        <div class="right">
            <div class="posthead">
                <h2>Uplods</h2>
            </div>
            <div class="postsgrid">
                <div class="posts">1</div>
                <div class="posts">2</div>
                <div class="posts">3</div>
                <div class="posts">4</div>
                <div class="posts">5</div>
                <div class="posts">6</div>
                <div class="posts">7</div>
                <div class="posts">8</div>
                <div class="posts">9</div>
                <div class="posts">0</div>
            </div>
        </div>
    </div>
</body>
</html>