* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f8f9ff;
    color: #222;
    /* overflow-x: hidden; */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #1e8cff;
    color: #fff;
}
.middlenavbar{
    margin-top: 15px;
    /* padding: 10px; */
    width: 400px;
    height: 35px;
    background-color: white;
    justify-self: center;
    border-radius: 10px;
    padding: 0px;
}
.midsearch{
    font-size: 15px;
    height: 100%;
    width: 80%;
    border: none;
    outline: none;
}

.logo {
    font-size: 28px;
    font-weight: 700;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.nav-links .btn {
    background: white;
    color: #1e8cff;
    padding: 8px 14px;
    border-radius: 6px;
    font-weight: bold;
}

.navtexts {
    display: inline-block;
    transition: all 0.1s ease-in-out;
}

.navtexts:hover {
    transform: translateY(-5px) scale(1.1);             
    /* transform: scale(1.1);    */
    color: rgb(14, 13, 13);
    text-shadow: 0px 0px 15px black;
}

.litext{
    display: flex;
    align-items: center;
}

.middlebody{
    width: 100%;
    height: 100vh;
    display: flex;

    /* border: 2px solid black; */
}

.left{
    /* border: 2px solid black; */
    width: 40%;
    border-right: 2px solid black;
    /* height: 100vh; */
}
.upper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    /* border: 1px solid orange; */
    height: 400px;
}
.profilepic{
    width: 150px;
    border: 1px solid black;
    border-radius: 50px;
    height: 150px;
    box-shadow: 0px 0px 15px black;
}
.biobox{
    margin: 20px;
}
/* ================================================== */

.lower{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid green; */
    padding: 20px;
}
.bookuploadform{

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 25px;
}

.inputfields{
    width: 300px;
    height: 30px;
    border-radius: 25px;
    padding: 5px;
}
.inputlabels{
    font-size: 20px;
    display:block;
    width: 100px;
}
.uploadbtn{
    height: 30px;
    box-shadow: 0px 0px 20px black;
    color: white;
    background-color: #1e8cff;
    border-radius: 5px;
    transition: all 0.5s ;
}
.uploadbtn:hover{
    background-color: aqua;
    transform: scale(1.1);
    border-radius: 15px;
    color: black;
}
.right{
    /* border: 2px solid brown; */
    width: 60%;
    height: 100vh;
    padding: 20px;
}
.postsgrid{
    display: grid;
    width: 100%;
    height: 95%;
    padding: 5px;
    /* border: 2px solid black; */
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.posts{
    padding: 2px;
    border: 1px solid black;
}